<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EngineIoClientDotNet" version="0.9.21" targetFramework="monoandroid5" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="monoandroid5" />
  <package id="WebSocket4Net" version="0.13.1" targetFramework="monoandroid5" />
</packages>