<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest" xmlns:m3="http://schemas.microsoft.com/appx/2014/manifest" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest">

  <Identity Name="514d7158-f805-47ec-88b9-6d13b0f3b188"
            Publisher="CN=Matthias"
            Version="1.0.0.0" />

  <mp:PhoneIdentity PhoneProductId="514d7158-f805-47ec-88b9-6d13b0f3b188" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>SocketIoClientDotNet.Tests.portable-wpa81+wp81.UnitTest</DisplayName>
    <PublisherDisplayName>Matthias</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.3.1</OSMinVersion>
    <OSMaxVersionTested>6.3.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" 
        Executable="vstest.executionengine.appcontainer.exe" 
        EntryPoint="Microsoft.VisualStudio.TestPlatform.TestExecutor.AppContainer.App">
        <m3:VisualElements
            DisplayName="SocketIoClientDotNet.Tests.portable-wpa81+wp81.UnitTest"
            Square150x150Logo="Assets\Logo.png"
            Square44x44Logo="Assets\SmallLogo.png"
            Description="SocketIoClientDotNet.Tests.portable-wpa81+wp81.UnitTest"
            ForegroundText="light"
            BackgroundColor="#464646">
            <m3:DefaultTile Wide310x150Logo="Assets\WideLogo.png" Square71x71Logo="Assets\Square71x71Logo.png"/>
            <m3:SplashScreen Image="Assets\SplashScreen.png"/>
            <m3:ApplicationView MinWidth="width320"/> <!--Used in XAML Designer. DO NOT REMOVE-->
        </m3:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClientServer" />
  </Capabilities> 
</Package>