<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EngineIoClientDotNet" version="0.9.22" targetFramework="xamarinios10" />
  <package id="Newtonsoft.Json" version="8.0.1" targetFramework="xamarinios10" />
  <package id="WebSocket4Net" version="0.14.1" targetFramework="xamarinios10" />
</packages>