<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EngineIoClientDotNet" version="0.9.18" targetFramework="net35" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net35" />
  <package id="System.Threading.Tasks" version="3.1.1" targetFramework="net35" />
  <package id="System.Threading.Tasks.Unofficial" version="3.1" targetFramework="net35" />
  <package id="WebSocket4Net" version="0.12" targetFramework="net35" />
</packages>