<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EngineIoClientDotNet" version="1.0.0.1-beta1" targetFramework="net35" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net35" />
  <package id="SuperSocket.ClientEngine.Core" version="0.8.0.12" targetFramework="net35" />
  <package id="System.Threading.Tasks.Unofficial" version="3.1" targetFramework="net35" />
  <package id="WebSocket4Net" version="0.15.0-beta9" targetFramework="net35" />
</packages>